/* modifications to design */
#header { padding-bottom: 0px; }
#main-top { display: none; }
#main { border-radius:25px; background: #FFF !important; }
#main-bottom { display: none; }

/* to hide the black selection bar */
#header a.coa-link {
    background-color: rgb(43,66,114)!important;
}

/* to hide the Aviation Complaints tagline */
div.logo {
    float: none !important;
    height: 0 !important;
    margin: 0 0 0 -9000px !important;
    padding: 0 !important;
    position: fixed;
    width: 0 !important;
}


/* added by govspace for upgrade */
div#cat-nav.clear {
    margin-top: 0;
}

.skip-content {
    float: left;
}

#block-search-api-page-default-search {
    float: right;
}

h1 {
    font-size: 2.4em;
    margin: 0;
    padding: 0 0 20px;
    text-shadow: 0 1px 0 #fff;
}

body.front div#content {
    width: 97%;
}

body.front #content .entry.page {
    width: 100%;
}

body.front #content img {
    padding: 5px 10px 5px 0;
}
img.right-image {
    width: 80px;
    height: 80px;
}

div#copyright ul li:last-child {
    border-right: none;
}
li#pages-3 {
    font-size: 1em;
}

div#sidebar div.menu-block-1 ul.menu {
    list-style-type: disc;
    margin-left: 3em;
}
